*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.build-outputs
.cxx
local.properties
.env
debug.keystore
debug.keystore.base64
my-upload-key.jks
my-upload-key.jks.base64
*.jks
*.keystore
*.key
*.p12
*.base64
